@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,regular,500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Mukta:regular,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-youtube:before {
  content: "\e90b";
}

._icon-inst:before {
  content: "\e90c";
}

._icon-facebook:before {
  content: "\e90d";
}

._icon-cart-to-buy:before {
  content: "\e90e";
}

._icon-heart:before {
  content: "\e90f";
}

._icon-graph:before {
  content: "\e910";
}

._icon-scale:before {
  content: "\e911";
}

._icon-twitter:before {
  content: "\e912";
}

._icon-login:before {
  content: "\e906";
}

._icon-cart:before {
  content: "\e907";
}

._icon-share:before {
  content: "\e908";
}

._icon-message:before {
  content: "\e909";
}

._icon-sign-up:before {
  content: "\e90a";
}

._icon-location:before {
  content: "\e900";
}

._icon-gallery:before {
  content: "\e901";
}

._icon-info:before {
  content: "\e902";
}

._icon-blog:before {
  content: "\e903";
}

._icon-shop:before {
  content: "\e904";
}

._icon-home:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #264A51;
  line-height: 1;
  font-family: "Mukta";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mukta";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "sidebar content" "sidebar footer";
  -ms-grid-columns: 10.3125rem 1fr;
  grid-template-columns: 10.3125rem 1fr;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: content;
}

.wrapper > footer {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: footer;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__logo-wrap {
  display: none;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(62, 88, 96, 0.3294117647);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.header ._icon-row--gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header ._icon-row--gap::before {
  color: #fff;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header ._icon-row--gap:hover::before {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.header ._icon-row--gap:hover {
  color: #DD6060;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  font-family: "Open Sans";
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -0.04em;
  color: #3E5860;
  text-transform: uppercase;
}

.header__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.header__sharing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.header__share {
  position: relative;
}

.header__share::after {
  content: "12K";
  font-weight: 600;
  font-size: 0.5rem;
  line-height: 0.7272727273;
  color: #DD6060;
  position: absolute;
  right: -10%;
  bottom: -5%;
}

.header__cart {
  position: relative;
}

.header__cart::after {
  content: "$0";
  font-weight: 600;
  font-size: 0.5rem;
  line-height: 0.7272727273;
  color: #DD6060;
  position: absolute;
  right: -10%;
  bottom: -5%;
}

.icon-menu {
  display: none;
}

.aside {
  background: #002A32;
  color: #8999A1;
}

.aside__wrapper {
  min-height: 100%;
}

.aside__body {
  padding-top: 4.6875rem;
}

.aside__logo {
  position: relative;
}

.aside__logo img {
  width: 100%;
  height: 100%;
  max-height: 4.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside__item {
  text-align: center;
  line-height: 1.53;
  letter-spacing: 0.045em;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.aside__item:hover {
  background: #3C6C7F;
}

.aside__item:hover .aside__link {
  color: #B6DCFF;
}

.aside__item:hover .aside__link._icon--aside::before {
  color: #B6DCFF;
}

.aside__link {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  color: #8999A1;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.aside__link._icon--aside::before {
  font-size: 1.875rem;
  color: #CAD3DB;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.hero-main {
  position: relative;
  min-height: 100vh;
}

.hero-main__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 18.75rem;
}

.hero-main__container {
  position: relative;
  pointer-events: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.hero-main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25rem;
          flex: 0 1 25rem;
  font-family: "Dosis";
  font-weight: 600;
}

.hero-main__label {
  font-family: "Dancing Script";
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 0.045em;
  color: #4E6E77;
}

.hero-main__title {
  font-weight: 600;
  font-size: 3.125rem;
  line-height: 1.33;
  letter-spacing: 0.045em;
}

.hero-main__title:not(:last-child) {
  margin-bottom: 1.625rem;
}

.hero-main__link {
  display: inline-block;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.045em;
  border: 0.09375rem solid #43717D;
  border-radius: 0.1875rem;
  padding: 0.5rem 1.0625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: visible;
}

.hero-main__link:hover {
  background: #43717D;
  color: #fff;
}

.hero-main__slide {
  position: relative;
  min-height: 100vh;
  padding: 5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-main__pagination.swiper-pagination {
  position: absolute;
  width: 67px;
  height: 15px;
  bottom: 6.790123%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.hero-main__pagination.swiper-pagination::before {
  content: "";
  width: 150%;
  height: 150%;
  background: rgba(255, 255, 255, 0.473);
  position: absolute;
  top: -25%;
  left: -25%;
  z-index: -1;
  border-radius: 50%;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination-bullet {
  width: 33.3333333333%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #677F8B;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #677F8B;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 34.4375em) {
  .wrapper > aside {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: sidebar;
  }

  .header__container {
    gap: 1.25rem;
  }

  .header__auth {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .aside {
    position: relative;
    z-index: 99;
  }

  .aside__body {
    position: fixed;
    width: 5rem;
    padding-top: 1.25rem;
  }

  .aside__logo {
    display: block;
    max-width: 9.375rem;
    margin: 0 auto;
  }
}

@media (min-width: 34.4375em) and (min-width: 90em) {
  .aside__logo:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}

@media (min-width: 71.25em) {
  .header {
    padding-top: 1.75rem;
  }

  .header {
    padding-bottom: 1.75rem;
  }

  .hero-main__link {
    font-size: 1rem;
  }
}

@media (min-width: 48em) {
  .header__auth {
    gap: 2.5rem;
  }
}

@media (min-width: 90em) {
  .header__sharing {
    gap: 2.5rem;
  }

  .aside__body {
    width: 10.3125rem;
  }

  .aside__link {
    padding-top: 1.25rem;
  }

  .aside__link {
    padding-bottom: 1.25rem;
  }

  .hero-main__title {
    font-size: 3.125rem;
  }
}

@media (max-width: 90em) {
  .wrapper {
    -ms-grid-columns: 5rem 1fr;
    grid-template-columns: 5rem 1fr;
  }
}

@media (max-width: 62em) {
  .aside__link {
    padding-top: 0.625rem;
  }
}

@media (max-width: 48em) {
  .header__sharing {
    gap: 0.9375rem;
  }

  .aside__link {
    padding-bottom: 0.625rem;
  }
}

@media (max-width: 40em) {
  .header__sharing a span {
    display: none;
  }
}

@media (max-width: 20em) {
  .header__container {
    gap: 0.625rem;
  }

  .hero-main__title {
    font-size: 2.1875rem;
  }

  .hero-main__link {
    font-size: 0.875rem;
  }
}

@media (max-width: 71.25em) {
  .aside__logo img {
    max-width: 6.25rem;
  }
}

@media (max-width: 34.375em) {
  .wrapper {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
        grid-template-areas: "content" "footer";
  }
  .wrapper > main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .wrapper > footer {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}

@media (max-width: 34.4375em) {
  .header {
    padding-top: 0.875rem;
  }

  .header {
    padding-bottom: 0.875rem;
  }

  .header__logo-wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: block;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .aside__wrapper {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: #002A32;
    z-index: 100;
    overflow: auto;
  }

  .aside__wrapper::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background: #002A32;
    width: 100%;
    min-height: 4.5625rem;
  }

  .menu-open .aside__wrapper {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 34.4375em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 33.81125em) {
  .header__auth a span {
    display: none;
  }
}

@media (max-width: 31.25em) {
  .header__auth {
    gap: 0.9375rem;
  }
}

@media (min-width: 34.4375em) and (max-width: 71.25em) {
@supports (padding-top: clamp( 0.875rem , 0.0564516129rem  +  2.376910017vw , 1.75rem )) {
    .header {
      padding-top: clamp( 0.875rem , 0.0564516129rem  +  2.376910017vw , 1.75rem );
    }
}

@supports not (padding-top: clamp( 0.875rem , 0.0564516129rem  +  2.376910017vw , 1.75rem )) {
    .header {
      padding-top: calc(0.875rem + 0.875 * (100vw - 34.4375rem) / 36.8125);
    }
}

@supports (padding-bottom: clamp( 0.875rem , 0.0564516129rem  +  2.376910017vw , 1.75rem )) {
    .header {
      padding-bottom: clamp( 0.875rem , 0.0564516129rem  +  2.376910017vw , 1.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.875rem , 0.0564516129rem  +  2.376910017vw , 1.75rem )) {
    .header {
      padding-bottom: calc(0.875rem + 0.875 * (100vw - 34.4375rem) / 36.8125);
    }
}
}

@media (min-width: 20em) and (max-width: 34.4375em) {
@supports (gap: clamp( 0.625rem , -0.2408008658rem  +  4.329004329vw , 1.25rem )) {
    .header__container {
      gap: clamp( 0.625rem , -0.2408008658rem  +  4.329004329vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , -0.2408008658rem  +  4.329004329vw , 1.25rem )) {
    .header__container {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 14.4375);
    }
}
}

@media (min-width: 31.25em) and (max-width: 48em) {
@supports (gap: clamp( 0.9375rem , -1.9776119403rem  +  9.328358209vw , 2.5rem )) {
    .header__auth {
      gap: clamp( 0.9375rem , -1.9776119403rem  +  9.328358209vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -1.9776119403rem  +  9.328358209vw , 2.5rem )) {
    .header__auth {
      gap: calc(0.9375rem + 1.5625 * (100vw - 31.25rem) / 16.75);
    }
}
}

@media (min-width: 48em) and (max-width: 90em) {
@supports (gap: clamp( 0.9375rem , -0.8482142857rem  +  3.7202380952vw , 2.5rem )) {
    .header__sharing {
      gap: clamp( 0.9375rem , -0.8482142857rem  +  3.7202380952vw , 2.5rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -0.8482142857rem  +  3.7202380952vw , 2.5rem )) {
    .header__sharing {
      gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 42);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -0.0892857143rem  +  1.4880952381vw , 1.25rem )) {
    .aside__link {
      padding-bottom: clamp( 0.625rem , -0.0892857143rem  +  1.4880952381vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.0892857143rem  +  1.4880952381vw , 1.25rem )) {
    .aside__link {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 48rem) / 42);
    }
}
}

@media (min-width: 34.4375em) and (min-width: 34.4375em) and (max-width: 90em) {
@supports (margin-bottom: clamp( 1.25rem , -0.2994938133rem  +  4.4994375703vw , 3.75rem )) {
    .aside__logo:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.2994938133rem  +  4.4994375703vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.2994938133rem  +  4.4994375703vw , 3.75rem )) {
    .aside__logo:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 34.4375rem) / 55.5625);
    }
}
}

@media (min-width: 34.4375em) and (max-width: 34.4375em) {
  .aside__logo:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 62em) and (max-width: 90em) {
@supports (padding-top: clamp( 0.625rem , -0.7589285714rem  +  2.2321428571vw , 1.25rem )) {
    .aside__link {
      padding-top: clamp( 0.625rem , -0.7589285714rem  +  2.2321428571vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.7589285714rem  +  2.2321428571vw , 1.25rem )) {
    .aside__link {
      padding-top: calc(0.625rem + 0.625 * (100vw - 62rem) / 28);
    }
}
}

@media (min-width: 34.4375em) and (max-width: 47.99875em) {
  .aside__link span {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 90em) {
@supports (font-size: clamp( 2.1875rem , 1.9196428571rem  +  1.3392857143vw , 3.125rem )) {
    .hero-main__title {
      font-size: clamp( 2.1875rem , 1.9196428571rem  +  1.3392857143vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.9196428571rem  +  1.3392857143vw , 3.125rem )) {
    .hero-main__title {
      font-size: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 70);
    }
}
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (font-size: clamp( 0.875rem , 0.8262195122rem  +  0.243902439vw , 1rem )) {
    .hero-main__link {
      font-size: clamp( 0.875rem , 0.8262195122rem  +  0.243902439vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8262195122rem  +  0.243902439vw , 1rem )) {
    .hero-main__link {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 51.25);
    }
}
}